/* ========================= START OF GLOBAL VARIABLES ========================= */

:root {
  --main_color: #0065FC;
  --secondary_color: #DEEBFF;
  --background_color: #F2F2F2;
  --main_font_family: 'Raleway', sans-serif;
  --secondary_font_color: #808080;
  --dark_text: #000000;
  --light_text: #ffffff;
}
/* ========================== END OF GLOBAL VARIABLES ========================== */

/* ========================= START OF FULL SITE STYLES ========================= */

html {
  font-size:100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main_font_family);
  margin: 0;
}

header, nav, section {
  margin-left: 35px;
  margin-right: 35px;
}
/* ========================== END OF FULL SITE STYLES ========================== */

/* ========================= START OF NAVBAR SECTION ========================= */

.nav {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  flex-basis: 100%;
}

header {
  flex-grow: 6;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: 2;
  padding-top: 5px
}

.nav-link, #accommodations-nav {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--secondary_font_color);
  border: none;
  padding: 45px;
}

.nav-link:hover {
  color: var(--main_color);
}

#accommodations-nav {
  color: var(--main_color);
  border-top: var(--main_color) solid 1px;
}

#sign-up {
  font-size: 16px;
  text-decoration: none;
  color: var(--main_color);
  font-weight: bold;
  align-self: flex-end;
  padding: 45px;
  flex-grow: 1;
}
/* ========================== END OF NAVBAR SECTION ========================== */

/* ========================= START OF INTRODUCTION, SEARCH, FILTERS AND INFO SECTION ========================= */

/* Introduction */
h2 {
  font-weight: bold;
}

#sub-intro {
  margin-bottom: 20px;
  font-weight: 300;
  color: var(--secondary_font_color);
  font-size: 14px;
}

/* Search Bar */
.search-container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-bottom: 25px;
}

.search-container input:focus {
  outline: none;
}

.marker-icon {
  background-color: var(--background_color);
  border-radius: 16px 0 0 16px;
  padding: 14px;
  text-align: center;
  width: 18px;
}

.search-box {
  border: solid 2px var(--background_color);
  border-right: none;
  border-left: none;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
}

::placeholder {
  color: var(--dark_text);
}

.search-button {
  background-color: var(--main_color);
  border-left: none;
  border-radius: 0 16px 16px 0;
  color: var(--background_color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 14px 2px 2px 14px;
  width: 80px;
}

.search-icon {
  color: var(--main_color);
}

/* Filters */
.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.filter-text {
  color: var(--dark_text);
  font-weight: 700;
  padding: 14px;
}

.filter {
  border: solid 2px var(--background_color);
  color: initial;
  border-radius: 30px;
  padding-right: 24px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 10px;
}

.filter-icon {
  color: var(--main_color);
  background-color: var(--secondary_color);
  border: none;
  border-radius: 50px;
  padding: 14px;
  margin-right: 16px;
}

.filter:hover {
  background-color: var(--main_color);
  color: var(--light_text);
}

/* Info */
.info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.i {
  color: var(--main_color);
  border: solid 2px var(--background_color);
  border-radius: 60px;
  padding: 10px 10px;
  font-size: 10px;
  height: 16px;
  margin-right: 24px;
  align-self: center;
}

#info-text {
  color: var(--secondary_font_color);
  font-size: 14px;
}
/* ========================== END OF INTRODUCTION, SEARCH, FILTERS AND INFO SECTION ========================== */

/* ========================= START OF ACCOMMODATION SECTION ========================= */

.article-one-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Main Accommodations */
.accommodations {
  background-color: var(--background_color);
  border-radius: 32px;
  padding: 16px 32px 32px 32px;
  margin-bottom: 32px;
  height: 620px;
  width: 65%;
  margin-right: 20px;
  position: relative;
}

.accommodations h2 {
  margin-bottom: 30px;
}

.hotel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 400px;
  margin-bottom: 45px;
}

.hotel {
  background-color: var(--light_text);
  width: 30%;
  padding-right: 10px;
  border-radius: 16px;
  box-shadow: 0 0 8px 2px var(--background_color);
  text-decoration: none;
  margin-bottom:25px
}

.hotel:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.hotel-images {
  width: 100%;
  padding: 5px 5px 5px 5px;
  object-fit: cover;
  height: 150px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: -16px;
}

.hotel-name {
  font-weight: 700;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: -8px;
  color: var(--dark_text);
}

.hotel-price {
  font-size: 12px;
  padding-left: 8px;
  color: var(--dark_text);
}

.bluestar-one {
  color: var(--main_color);
  font-size: 11px;
  margin-left: 10px;
  margin-bottom: 8px;
  position: relative;
  bottom: 9px;
}

.bluestar {
  color: var(--main_color);
  font-size: 11px;
  position: relative;
  bottom: 9px;
}

.greystar {
  color: #e0dfdf;
  font-size: 11px;
  position: relative;
  bottom: 9px;
}

#show-more-link {
  text-decoration: none;
  color: var(--dark_text);
}

/* Most Popular */
.mostpopular {
  background-color: var(--background_color);
  border-radius: 32px;
  padding: 16px 32px 32px 32px;
  height: 620px;
  width: 20%;
  position: relative;
}

.mostpopular h2 {
  margin-bottom: 30px;
}

.chart {
  margin-left: 100px;
}

.popular-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;
}

.popular-hotel:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.popular-hotel {
  background-color: var(--light_text);
  height: 140px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 2px 2px var(--background_color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.popular-images {
  width: 35%;
  height: 130px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-bottom: -16px;
}
/* ========================== END OF ACCOMMODATIONS SECTION ========================== */

/* ========================= START OF ACTIVITIES SECTION ========================= */

.activities-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.column-container-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-container-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities-link {
  text-decoration: none;
}

.column-container-one, .column-container-two {
  width: 22%;
}

#Old-Port {
  background-color: var(--light_text);
  width: 22%;
  height: 500px;
  border-radius: 16px;
  box-shadow: 0 0 2px 2px var(--background_color);
}

#Pomegues-Fort {
  background-color: var(--light_text);
  width: 100%;
  height: 62%;
  border-radius: 16px;
  box-shadow: 0 0 2px 2px var(--background_color);
}

#Friolus-Island {
  background-color: var(--light_text);
  width: 100%;
  height: 33%;
  border-radius: 16px;
  box-shadow: 0 0 2px 2px var(--background_color);
}

#Calanques-National-Park {
  background-color: var(--light_text);
  width: 22%;
  height: 500px;
  border-radius: 16px;
  box-shadow: 0 0 2px 2px var(--background_color);
}

#Notre-Dame-de-la-Garde {
  background-color: var(--light_text);
  width: 100%;
  height: 47%;
  border-radius: 16px;
  box-shadow: 0 0 2px 2px var(--background_color);
}

#Longchamp-Park {
  background-color: var(--light_text);
  width: 100%;
  height: 47%;
  border-radius: 16px;
  box-shadow: 0 0 2px 2px var(--background_color);
}

#Old-Port:hover, #Pomegues-Fort:hover, #Friolus-Island:hover,
#Calanques-National-Park:hover, #Notre-Dame-de-la-Garde:hover,
#Longchamp-Park:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.oldport-images {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.pomegues-images {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.friolus-images {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.calanques-images {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.notredame-images {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.longchamp-images {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.activity-name {
  color: var(--dark_text);
  font-weight: 700;
  padding-left: 16px;
  margin-top: 12px;
}
/* ========================== END OF ACTIVITIES SECTION ========================== */

/* ========================= START OF FOOTER SECTION ========================= */

footer {
  background-color: var(--background_color);
  position: relative;
  margin: 0;
  height: 160px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1050px;
  padding-left: 50px;
}

.footer-link {
  text-decoration: none;
  color: var(--dark_text);
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}

.p-footer {
  margin-bottom: -14px;
}
/* ========================== END OF FOOTER SECTION ========================== */

/* ========================= START OF MEDIA QUERIES SECTION ========================= */

/* Mobile Devices */

@media all and (max-width: 480px) {

  /* =============== START OF FULL SITE STYLES =============== */

  body {
    width: 100%;
    font-size: 16px ;
  }

  header, nav {
    margin-left: 0;
    margin-right: 0;
  }

  section {
    margin: 0px;
    width: 100%;
  }

  .intro, .search-container, .filter-container {
    padding-left: 5%;
    padding-right: 5%;
  }
  /* ================ END OF FULL SITE STYLES ================ */

  /* =============== START OF NAVBAR SECTION =============== */
  
  nav, .headings {
    flex-direction: row;
    justify-content: space-between;
    order: 3;
    margin: 0;
    width: 90%;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  #accommodations-nav {
    flex-grow: 1;
    text-align: center;
    padding: 30px 0 16px 20px;
  }

  #activities-nav {
    flex-grow: 2;
    text-align: center;
    padding: 35px 20px 16px 0;
  }

  .nav-link {
    border-bottom: var(--background_color);
    border-style: none none solid none;
    border-width: 2px;
    color: var(--dark_text);
  }

  .nav-link:hover {
    border-bottom: var(--main_color);
    border-style: none none solid none;
    border-width: 2px;
    padding: 40px;
    color: var(--main_color);
  }

  .logo {
    order: 1;
    margin-left: 5%;
    margin-right: 5%;
  }

  #sign-up {
    order: 2;
    font-size: 16px;
    padding: 16px;
    text-align: right;
  }
  /* ================ END OF NAVBAR SECTION ================ */

  /* =============== START OF INTRODUCTION, SEARCH, FILTERS AND INFO SECTION =============== */

  /* Introduction */
  #sub-intro {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 300;
    color: var(--secondary_font_color);
    font-size: 14px;
  }
  
  /* Search Bar */
  .search-container {
    justify-content: center;
    width: 80%;
    margin: 40px auto;
  }

  .search-box {
    width: 70%;
    font-size: 14px;
    padding: 14px;
  }

  .marker-icon {
    padding: 16px 14px;
    width: 40px;
  }

  .search-button {
    border-radius: 14px;
    color: transparent;
    padding: 0 0 2px 16px;
    width: 32px;
    text-align: initial;
  }

  .search-icon {
    color: var(--light_text);
  }

  /* Filters*/
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter {
    font-size: 14px;
    margin-bottom: 10px
    }

  /* Info */
  .info-container {
    padding-left: 5%;
    width: 95%;
  }
  /* ================ END OF INTRODUCTION, SEARCH, FILTERS AND INFO SECTION ================ */

  /* =============== START OF ACCOMMODATIONS SECTION =============== */

  .article-one-container {
    flex-direction: column;
    width: 100%;
  }

  /* Most Popular */
  .mostpopular {
    order: 1;
    border-radius: 0;
    width: 100%;
    padding: 0px;
  }

  .chart {
    float: right;
    padding-right: 10px;
  }

  .popular-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-left: 40px
  }

  .popular-hotel {
    margin-bottom: 24px;
  }

  /* Main Accommodations */
  .accommodations {
    order: 2;
    background-color: transparent;
    border-radius: 0;
    height: auto;
    width: 95%;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 4px;
  }

  .section-title {
    margin: 16px auto;
    width: 85%;
  }

  .hotel-container {
    flex-direction: column;
    width: 85%;
    height: auto;
    margin: 0 auto;
  }

  .hotel {
    margin-bottom: 24px;
    width: 100%;
  }

  #show-more {
    padding-left: 7.5%
  }
  /* ================ END OF ACCOMMODATIONS SECTION ================ */

  /* =============== START OF ACTIVITIES SECTION =============== */

  .activities-container {
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding-right: 20px;
  }

  .column-container-one, .column-container-two {
    width: 100%;
  }

  #Old-Port, #Pomegues-Fort, #Friolus-Island,
  #Calanques-National-Park, #Notre-Dame-de-la-Garde,
  #Longchamp-Park {
    margin-bottom: 24px;
  }

  #Old-Port, #Calanques-National-Park {
    width: 100%;
    height: 180px;
    border-radius: 16px;
  }

  .oldport-images, .pomegues-images, .calanques-images,
  .notredame-images, .friolus-images, .longchamp-images {
    width: 100%;
    height: 130px;
  }
  /* ================ END OF ACTIVITIES SECTION ================ */

  /* =============== START OF FOOTER SECTION =============== */

  footer {
    height: auto;
    width: 100%;
    margin: 16px 0 0 0;
  }

  .footer-container {
    flex-direction: column;
    width: 90%;
    padding-left: 7.5%;
  }

  .p-footer {
    margin-bottom: -8px;
  }

  .about, .our-accommodations, .assistance {
    margin-bottom: 16px;
  }
  /* ================ END OF FOOTER SECTION ================ */
  
}

/* Large screen Mobile Devices and Small screen Tablets */

@media all and (min-width: 481px) and (max-width: 757px) {

  /* =============== START OF FULL SITE STYLES =============== */
  body {
    width: 100%;
    font-size: 16px;
  }

  header, nav {
    margin-left: 0;
    margin-right: 0;
  }

  section {
    margin: 0px;
    width: 100%;
  }

  .intro, .search-container, .filter-container {
    padding-left: 5%;
    padding-right: 5%;
  }
  /* ================ END OF FULL SITE STYLES ================ */

  /* =============== START OF NAVBAR SECTION =============== */

  nav {
    margin: 0;
    flex-direction: row;
    order: 3;
    justify-content: space-between;
    width: 95%;
  }

  #accommodations-nav {
    flex-grow: 1;
    text-align: center;
    padding: 30px 0 16px 20px;
  }

  #activities-nav {
    flex-grow: 2;
    text-align: center;
    padding: 30px 20px 16px 0;
  }

  .nav-link {
    border-bottom: var(--background_color);
    border-style: none none solid none;
    border-width: 2px;
    color: var(--dark_text);
  }

  .nav-link:hover {
    border-bottom: var(--main_color);
    border-style: none none solid none;
    border-width: 2px;
    padding: 40px;
    color: var(--main_color);
  }

  .logo {
    order: 1;
    margin-left: 7.5%;
    margin-right: 5%;
  }

  #sign-up {
    order: 2;
    font-size: 16px;
    padding: 16px;
    text-align: right;
    margin-right: 7.5%;
  }
  /* ================ END OF NAVBAR SECTION ================ */

  /* =============== START OF INTRODUCTION, SEARCH, FILTERS AND INFO SECTION =============== */

  /* Introduction */
  #sub-intro {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 300;
  color: var(--secondary_font_color);
  font-size: 14px;
  }

  /* Search Bar */
  .search-container {
    justify-content: center;
  }

  .search-box {
    width: 70%;
    font-size: 16px;
    padding: 14px;
  }

  .marker-icon {
    padding: 16px 14px;
    width: 30px;
  }

  .search-button {
    border-radius: 14px;
    color: transparent;
    padding: 0 0 2px 16px;
    width: 32px;
    text-align: initial;
  }

  .search-icon {
    color: var(--light_text);
  }

  /* Filters*/
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }

  .filter {
    margin-bottom: 10px;
  }

  /* Info */
  .info-container {
    padding-left: 5%;
  }
  /* ================ END OF INTRODUCTION, SEARCH, FILTERS AND INFO SECTION ================ */

  /* =============== START OF ACCOMMODATIONS SECTION =============== */

  .article-one-container {
    flex-direction: column;
    width: 100%;
  }

  /* Most popular */
  .mostpopular {
    order: 1;
    border-radius: 0;
    width: 100%;
    padding: 0px;
    height: auto;
  }

  .chart {
    margin-left: 0;
    float: right;
  }

  .popular-container {
    width: 65%;
    height: auto;
    margin: 0 auto;
  }

  .popular-hotel {
    width: 100%;
    margin-bottom: 24px;
  }

  /* Accommodations */
  .accommodations {
    order: 2;
    background-color: transparent;
    border-radius: 0;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 2px;
  }

  .section-title {
    margin: 16px auto;
    width: 65%;
  }

  .hotel-container {
    flex-direction: column;
    width: 65%;
    height: auto;
    margin: 0 auto;
  }

  .hotel {
    margin-bottom: 24px;
    width: 100%;
  }

  #show-more {
    padding-left: 17.5%
  }
  /* ================ END OF ACCOMMODATIONS SECTION ================ */

  /* =============== START OF ACTIVITIES SECTION =============== */

  .activities-container {
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
  }

  .column-container-one, .column-container-two {
    width: 100%;
  }

  #Old-Port, #Pomegues-Fort, #Friolus-Island,
  #Calanques-National-Park, #Notre-Dame-de-la-Garde,
  #Longchamp-Park {
    margin-bottom: 24px;
  }

  #Old-Port, #Calanques-National-Park {
    width: 100%;
    height: 180px;
    border-radius: 16px;
  }

  .oldport-images, .pomegues-images, .calanques-images,
  .notredame-images, .friolus-images, .longchamp-images {
    width: 100%;
    height: 130px;
  }
  /* ================ END OF ACTIVITIES SECTION ================ */

  /* =============== START OF FOOTER SECTION =============== */

  footer {
    height: auto;
    width: 100%;
    margin: 16px 0 0 0;
  }

  .footer-container {
    width: 70%;
    padding-left: 17.5%;
  }

  .p-footer {
    margin-bottom: -8px;
  }

  .about, .our-accommodations, .assistance {
    margin-bottom: 16px;
    margin-right: 14px;
  }
}
/* ================ END OF FOOTER SECTION ================ */

/* Tablets and Small Screen Laptops */
@media all and (min-width: 758px) and (max-width: 1073px) {

  /* =============== START OF FULL SITE STYLES =============== */
  body {
    width: 100%;
    font-size: 16px;
  }

  header, nav {
    margin: 0 auto;
    padding-left: 5%;
  }

  section {
    margin: 0px;
    width: 100%;
  }

  .intro, .search-container, .filter-container {
    padding-left: 5%;
    padding-right: 5%;
  }
  /* ================ END OF FULL SITE STYLES ================ */

  /* =============== START OF INTRODUCTION, SEARCH, FILTERS AND INFO SECTION =============== */

  /* Filters*/
  .filter-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .filter {
    font-size: 12px;
  }

  /* Info */
  .info-container {
    padding-left: 5%;
  }
  /* ================ END OF INTRODUCTION, SEARCH, FILTERS AND INFO SECTION ================ */

  /* =============== START OF ACCOMMODATIONS SECTION =============== */

  /* Most popular */
  .mostpopular {
    order: 1;
    height: auto;
    width: 96%;
    padding: 0;
    margin: 0 2%;
  }

  .chart {
    margin-left: 0;
    float: right;
  }

  .popular-container {
    width: 90%;
    flex-direction: row;
    height: 270px;
    margin: 0 auto;
  }

  .popular-hotel {
    width: 30%;
    height: 85%;
    flex-direction: column;
  }

  .popular-images {
    width: 96%;
    height: 110px;
    object-position: 50% 60%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
  }

  /* Accommodations */
  .accommodations {
    order: 2;
    height: auto;
    width: 96%;
    padding: 0;
    margin: 16px auto;
  }

  .section-title {
    margin: 16px auto;
    width: 90%;
  }

  .hotel-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  #show-more {
    padding-left: 5%
  }
  /* ================ END OF ACCOMMODATIONS SECTION ================ */

  /* =============== START OF ACTIVITIES SECTION =============== */

  .activities-container {
    width: 90%;
    margin: 0 auto;
  }

  .column-container-one {
    flex-direction: row;
    width: 100%;
    order: 3;
  }

  .column-container-two {
    flex-direction: row;
    width: 100%;
    order: 4;
  }

  #Old-Port {
    order: 1;
  }

  #Calanques-National-Park {
    order: 2;
  }

  #Old-Port, #Pomegues-Fort, #Friolus-Island,
  #Calanques-National-Park, #Notre-Dame-de-la-Garde,
  #Longchamp-Park {
    width: 45%;
    height: 175px;
    border-radius: 16px;
    margin-bottom: 24px;
  }

  .oldport-images, .pomegues-images, .calanques-images,
  .notredame-images, .friolus-images, .longchamp-images {
    width: 100%;
    height: 130px;
  }
  /* ================ END OF ACTIVITIES SECTION ================ */

  /* =============== START OF FOOTER SECTION =============== */

  footer {
    height: auto;
    width: 100%;
    margin: 16px 0 0 0;
  }

  .footer-container {
    width: 70%;
    padding-left: 5%;
  }

  .p-footer {
    margin-bottom: -8px;
  }

  .about, .our-accommodations, .assistance {
    margin: 0 0 32px 25px;
  }
  /* ================ END OF FOOTER SECTION ================ */

}
/* ========================== END OF MEDIA QUERIES SECTION ========================== */