/* ========================= START OF FULL SITE STYLES ========================= */

html {
  font-size:100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0em;
}

header, nav, section {
  margin-left: 35px;
  margin-right: 35px;
}
/* ========================== END OF FULL SITE STYLES ========================== */

/* ========================= START OF NAVBAR SECTION ========================= */

.nav {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  flex-basis: 100%;
}

header {
  flex-grow: 6;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: 2;
  padding-top: 5px
}

.nav-link, #accommodations-nav {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: gray;
  border: none;
  padding: 45px;
}

#accommodations-nav {
  color: #1e90ff;
  border-top: #0065fc solid 1px;
}

#sign-up {
  font-size: 16px;
  text-decoration: none;
  color: #1e90ff;
  font-weight: bold;
  align-self: flex-end;
  padding: 45px;
  flex-grow: 1;
}
/* ========================== END OF NAVBAR SECTION ========================== */